FELTS_MCP_SSH_HOST=192.168.50.182
FELTS_MCP_SSH_USER=inotives
FELTS_MCP_SSH_PORT=22
FELTS_MCP_LOCAL_PORT=15432
FELTS_MCP_REMOTE_HOST=127.0.0.1
FELTS_MCP_REMOTE_PORT=5432

FELTS_MCP_DB_NAME=felts
FELTS_MCP_DB_USER=felts_ai
FELTS_MCP_DB_PASSWORD=
FELTS_MCP_AUDIT_LOG=var/log/felts-prod-data/queries.jsonl
