FELTS_ENV=local
FELTS_DB_HOST=localhost
FELTS_DB_PORT=5432
FELTS_DB_NAME=felts
FELTS_DB_USER=felts
FELTS_DB_PASSWORD=felts
FELTS_DATABASE_URL=postgresql+psycopg://felts:felts@localhost:5432/felts

PREFECT_API_URL=http://127.0.0.1:4200/api
PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://prefect:prefect@localhost:5432/prefect
PREFECT_CLIENT_CSRF_SUPPORT_ENABLED=false

COINGECKO_API_KEY=

