FELTS_ENV=dev
FELTS_DB_HOST=
FELTS_DB_PORT=5432
FELTS_DB_NAME=felts
FELTS_DB_USER=
FELTS_DB_PASSWORD=
FELTS_DATABASE_URL=

PREFECT_API_URL=
PREFECT_API_DATABASE_CONNECTION_URL=
PREFECT_CLIENT_CSRF_SUPPORT_ENABLED=false

COINGECKO_API_KEY=

